@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  background-color: rgba(255, 127, 80, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50%;
  height: 57vh;
}

.task-list {
  width: 85%;
  padding: 0 3%;
  max-height: 60%;
  overflow-y: auto;
  padding-bottom: 0.5rem;
}

.task-list .task {
  padding: 0.5rem;
  position: relative;
  padding-bottom: 0;
  align-items: center;
  display: flex;
}

.task hr {
  border: none;
  border-bottom: 1px solid lightgray;
}

.task .task-item {
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.task-item div {
  display: flex;
  align-items: center;
}

.task-wrapper hr {
  border: none;
  border-bottom: 1px solid lightgray;
}

.checkbox {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.checkbox:hover {
  cursor: pointer;
}

.task .task-right {
  color: gray;
}

.task-wrapper.finished .task-name {
  color: black;
  text-decoration: line-through;
}

.trash-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 35px;
}

.trash-button:hover {
  cursor: pointer;
}

.input-wrapper {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid black;
  width: 80vw;
  border-radius: 1rem;
  max-width: 700px;
  font-size: 1rem;
  display: flex;
  padding-bottom: 0.25rem;
}

.input-wrapper input {
  flex: 1;
  padding-left: 2rem;
  background-color: transparent;
  border: none;
}

.input-wrapper button {
  width: 3rem;
  background-color: transparent;
  border: none;
}

.input-wrapper button:hover {
  cursor: pointer;
}

.input-wrapper input:focus {
  outline: none;
}

* {
  font-family: "Raleway", sans-serif;
}
