@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  background-color: rgba(255, 127, 80, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50%;
  height: 57vh;
}

.task-list {
  width: 85%;
}

.task-list .task {
  padding: 0.5rem;
  position: relative;
}

.task hr {
  border: none;
  border-bottom: 1px solid lightgray;
}

.task input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  top: 4px;
  left: 10px;
  z-index: 2;
  margin: 0;
}

.task .checkbox {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.task .checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.task input:checked ~ .task .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.task .task-item {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid black;
  width: 80vw;
  border-radius: 1rem;
  max-width: 700px;
  font-size: 1rem;
  display: flex;
  padding-bottom: 0.25rem;
}

.input-wrapper input {
  flex: 1;
  padding-left: 2rem;
  background-color: transparent;
  border: none;
}

.input-wrapper button {
  width: 3rem;
  background-color: transparent;
  border: none;
}

.input-wrapper button:hover {
  cursor: pointer;
}

.input-wrapper input:focus {
  outline: none;
}

* {
  font-family: "Raleway", sans-serif;
}
